* {
    box-sizing: border-box;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: hsla(192, 100%, 95%, 0.15);
    scroll-behavior: smooth;
}

.container {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color:  #f2f2f2;
    border-radius: 15px;
}

.trivia-quiz-inner {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    
}

.trivia-quiz-image {
    display: flex;
    max-width: 490px;
    position: relative; 
}

.trivia-quiz-image img {
    width: 100%;
    border-radius: 10px;
}

.trivia-quiz-image::after {
    content: '';
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(121, 121, 121, 0) 70%, rgba(3, 1, 13, 0.50) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.trivia-quiz-start {
    text-align: center;
}

.trivia-quiz-start h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 3px;
}

.start-button {
    padding: 10px 20px;
    border: 2px solid #333333;
    border-radius: 20px;
    background-color: #359c3a;
    cursor: pointer;
}

.start-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.trivia-quiz-content {
    display: none;
}

.content-inner {
    display: flex;
    flex-direction: column;
    background-color: hsla(123, 49%, 41%, 0.2);
    border: 1px solid #333333;
    border-radius: 5px;
}

.question-header {
    display: flex;
    justify-content: space-between;
    background-color: hsla(123, 49%, 41%, 0.4);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}

.question-header p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.question-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #333333;
    font-size: 16px;
    max-width: 490px;
}

.question-main p {
    margin: 25px 30px;
}

.question-main span {
    margin: 25px auto;
    text-align: center;
    line-height: 25px;
}

.question-main span>img {
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.question-main span>span {
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #333333;
}

input[type="radio"] {
    display: none;
}

.question-main label {
    display: flex;
    align-items: center;
    background-color: hsla(123, 49%, 41%, 0.4);
    border-top: 1px solid #359c3a;
    padding: 15px 15px 15px 30px;   
    width: 100%; 
    cursor: pointer;
}

.question-main label:hover {
    background-color: #595959;
    color: #fff;
    transition: ease-in-out;
}

.question-main label::before {
    content: '';
    height: 15px;
    width: 15px;
    border: 2px solid #359c3a;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}

input[type="radio"]:checked + label {
    background-color: #bfbfbf;
    border: 3px solid #333333;
    color: #fff;
}

input[type="radio"]:checked + label::before {
    height: 10px;
    width: 10px;
    border: 5px solid #fff;
    background-color: #359c3a;
}

.next-button {
    border-top: 1px solid #333333;
    text-align: end;
    padding: 10px 15px;
}

.next-button button {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #359c3a;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 578px) {
    .trivia-quiz-start h1 {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .question-header {
        font-size: 12px;
    }

    .question-main {
        font-size: 14px;
    }
}
